# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
UDPClient/.vs/ProjectSettings.json
UDPClient/.vs/slnx.sqlite
UDPClient/.vs/UDPClient/FileContentIndex/3ce0f4bd-b067-42cc-87c9-d3cf166cb3a1.vsidx
UDPClient/.vs/UDPClient/v17/Browse.VC.db
UDPClient/.vs/UDPClient/v17/Browse.VC.db-shm
UDPClient/.vs/UDPClient/v17/Browse.VC.db-wal
UDPClient/.vs/UDPClient/v17/Browse.VC.opendb
UDPClient/.vs/UDPClient/v17/ipch/AutoPCH/35e720366ed61266/UDPCLIENT.ipch
